.debug .img_title{
    width: 100px;
    height: 100px;
}

.debug .star{
    width: 200px;
    height: 25px;
}

.mx_6{
    margin: 0 6rem;
}

.mt_4{
    margin-top: 4rem;
}

.debug .card_img{
    max-width: 100%;
    aspect-ratio: 2 / 1;
}    
