:root {
  --bg_free_secondary: rgba(44, 62, 80, 1);
  --bg_free_primary: rgba(26, 188, 156, 1);
  --bg_free_footer: rgba(58, 84, 109, 1);
}

/* color */

.bg_free_primary{
    background-color: var(--bg_free_primary);
}

.bg_free_secondary{
    background-color: var(--bg_free_secondary);
}

.bg_free_footer{
    background-color: var(--bg_free_footer);
}

/* nav */

.navbar_nav {
    display: flex;
    list-style: none;
}

 .star{
  width: 100%;
  height: 20px;
}

.line{
  width: 170px;
  height: 3px;
}

.star_icon{
  font-size: 25px;
}

.rounded_1{
  border-radius: 1rem;
}


.debug .img_title {
  width: 100px;
  height: 100px;
}

.mx_6 {
  margin: 0 6rem;
}

.mt_4 {
  margin-top: 4rem;
}

.debug .card_img {
  width: 100%;
  aspect-ratio: 1.5 / 1;
}

.debug .circolare {
  width: 100%;
  height: 100%;
}
